.container {
  padding: 0px 150px;
}

header > button {
  background-color: #444444;
  color: white;
  border: none;
  padding: 5px 10px;
}

.header-link {
  float: right;
}

.header-link > a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.header-bicycle {
  margin-left: 25px;
}
