.container {
  padding: 0px 150px;
}

header > button {
  background-color: #444444;
  color: white;
  border: none;
  padding: 5px 10px;
}

.header-link {
  float: right;
}

.header-link > a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.header-bicycle {
  margin-left: 25px;
}

body {
  margin: 10px 0;
}

.img-top {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

body section {
  margin: 60px auto;
  max-width: 960px;
  text-align: center;
}

body section h2 {
  border-bottom: 1px solid #444444;
  padding-bottom: 8px;
  display: inline;
}

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-profile {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-position: center;
}

.profile-name {
  font-weight: bold;
}

.profile p {
  text-align: left;
}

.Bicycle-container {
  margin-top: 20px;
  display: flex;
}

.Bicycle-item img {
  width: 100%;
  height: auto;
}

.Bicycle-item:nth-child(n + 2) {
  margin-left: 10px;
}

.Bicycle-item_title {
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: small;
}
