header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container {
  padding: 0px 150px;
  max-width: 960px;
  margin: 0px auto;
}

.header-link-profile {
  background-color: #444444;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.header-link {
  float: right;
}

.header-link a {
  text-decoration: none;
  color: black;
}

.header-bicycle {
  margin-left: 25px;
}

body {
  margin: 10px 0;
}

.img-top {
  height: 700px;
  width: 100%;
  margin-top: 10px;
  object-fit: cover;
}

body section {
  margin: 60px auto;
  max-width: 960px;
  text-align: center;
}

body section h2 {
  border-bottom: 1px solid #444444;
  padding-bottom: 8px;
  display: inline;
}

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
  object-position: -10px -5px;
}

.profile-name {
  font-weight: bold;
}

.profile p {
  text-align: left;
}

.Bicycle-container {
  margin-top: 20px;
  display: flex;
}

.Bicycle-item img {
  width: 100%;
  height: auto;
}

.Bicycle-item:nth-child(n + 2) {
  margin-left: 10px;
}

.Bicycle-item_title {
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: small;
}

/* モバイル対応 */
@media screen and (max-width: 480px) {
  .container {
    padding: 0px 20px;
  }

  .img-top {
    height: 500px;
  }

  .profile,
  .Bicycle-container {
    flex-direction: column;
    margin-top: 40px;
  }

  .profile-text-container {
    margin: 0px 10px;
  }

  .Bicycle-item {
    margin: 10px;
  }
}
